:root {
  /*Custom variables and metadata set*/
	--cohost-purple: #83254f;
  --cohost-orange: #ffab5c;
  --cohost-cream: #fff9f2;
  --cohost-darkgray: #191919;
  --testcolor: #5c5c5c;
  --color: var(--cohost-darkgray);
    /* CSS HEX */ 
    --smoky-rose: #7c606bff;--petal-pink: #c46baeff;--pink-carnation: #eb7bc0ff;--pink-mist: #eda4bdff;--powder-petal: #eed5c2ff;
    /* CSS HEX */ 
    --jet-black: #292f36ff; --strong-cyan: #4ecdc4ff; --white: #ffffffff; --grapefruit-pink: #ff6b6bff; --white-2: #ffffffff;
    /* CSS HEX */ 
    --charcoal-brown: #363732ff; --sky-aqua: #53d8fbff; --maya-blue: #66c3ffff; --alice-blue: #dce1e9ff; --soft-blossom: #d4afb9ff;
    /* CSS HEX */ 
    --atomic-tangerine: #ff6b35ff; --peach-glow: #f7c59fff; --beige: #efefd0ff; --steel-azure: #004e89ff; --baltic-blue: #1a659eff;
  /* used vars */
  --background: var(--alice-blue);
  --foreground: ;
  --text-dark: var(--jet-black);
  --text-light: var(--alice-blue);
  --focus: var(--grapefruit-pink);
  --accent: var(--strong-cyan);
  @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  }
*{
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
body{
    background-color: var(--background);
    color: var(--text-dark);
    margin: 0;
}
.header {
    background-color: var(--focus);
    color: var(--text-light);
    text-align: center;
    padding: 1vmin;
  }
.topnav{
    list-style-type: none;
    text-align: center;
    background-color: var(--focus);
    font-weight: bold;
    color: var(--text-light);
    margin: 0;
    padding: 0;
  }
.topnav a{
    display: inline-block;
    background-color: inherit;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    padding: 14px 20px;
  }
.content{
    color: var(--text-dark);
    text-align: center;
    margin: 5vmin;
  }
.p{
  margin: 10vmax;
}
.footer{
    background-color: var(--jet-black);
    text-align: center;
    padding: 0;
  }
.footer a{
    display: inline-block;
    text-decoration: none;
    color: var(--text-light);
  }
Iframe{
    border: 0;
  }
/*section for Youtube Embeds with custom container*/
.yt-container {
  position: relative;
  aspect-ratio: 16 / 9;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  outline: 10px;
  outline-color: var(--focus);
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  Border: 0;
}
.itemcontainer{
  color: var(--text-dark);
  border: 1vmin;
  border-color: var(--grapefruit-pink);
  padding-top: 2vmin;
  padding-bottom: 1vmin;
}