:root {
  /*Custom variables and metadata set*/
	--cohost-purple: #83254f;
  --cohost-orange: #ffab5c;
  --cohost-cream: #fff9f2;
  --cohost-darkgray: #191919;
  --testcolor: #5c5c5c;
  --color: var(--cohost-darkgray);
  }
*{
    box-sizing: border-box;
}
body{
    background-color: var(--color);
    color: #fff9f2;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
}
.header {
    background-color: #83254f;
    text-align: center;
    color: #fff9f2;
    padding: 1vmin;
  }
.topnav{
    list-style-type: none;
    text-align: center;
    background-color: #fff9f2;
    margin: 0;
    padding: 0;
  }
.topnav a{
    display: inline-block;
    background-color: #fff9f2;
    text-decoration: none;
    color: #191919;
    font-size: 20px;
    padding: 14px 20px;
  }
.content{
    color: #fff9f2;
    text-align: center;
    padding: 10px;
  }
.footer{
    /* background-color: var(--cohost-orange); */
    text-align: center;
    padding: 10px;
  }
.footer a{
    display: inline-block;
    text-decoration: none;
    color: #fff9f2;
  }
Iframe{
    border: 0;
  }
/*section for Youtube Embeds with custom container*/
.yt-container {
  position: relative;
  aspect-ratio: 16 / 9;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  Border: 0;
}
.itemcontainer{
  color: #fff9f2;
  padding-top: 2vmin;
  padding-bottom: 1vmin;
}